#app{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 60px;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success{
    background-color: #4eb883;
}

.badge-success{
    background-color: #4eb883;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: black;
    color: white;
}
.container1 {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.card{
    border: none;
    padding: 20px;
}
.navbar{
    margin-bottom: 100px;
}
.btn-qty{
    border-radius: 50%;
    width: 40px;
}